
* {
  margin:0;
  padding:0;
  text-decoration: none;
  list-style-type: none;
}
/*Clear styles*/

body {
  display: grid;
  grid-template-areas:
  "header"
  "nav"
  "section"
  "footer";
  /*grid-template-rows: 125px 1fr 3fr 1fr;*/
}
/* define grid template*/

.header {grid-area: header;}
.nav {grid-area: nav;}
.section {grid-area: section;}
.footer {grid-area: footer;}
/*identify the grid areas*/

body {
  font-family: 'Montserrat', georgia;
  box-sizing: border-box;
}
/*style the body*/

.header {
  background-color: white;
}
/*style*/

.header {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  flex-basis: fill;
}
/*flex properties*/

.box {
  background-color: white;
  padding: 1px;
  font-size: 2em;
}
/*style the box*/

img {
  max-width: 100%;
  height: auto;
}

/*menu bar*/
ul {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    list-style-type: none;
    align-items:center;
    justify-content: space-around;
    background-color: #BBEEFF;
    height: 100%;
    overflow: hidden;
    border: white 1px solid;

}
li {
  width: 100%;
  height: 100%;
  border: white 2px solid;
  text-align: center;
}


li a {
    color: #000;
    text-decoration: none;
    overflow: hidden;
    height: 25%;
    font-weight: bold;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.nav {
  background-color: #008040;
  height: 100%;
}

.footer {
    display: inline-flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    bottom: 0;
    background-color: #008040;
    /*position: fixed;*/
    /*max-height: 100%;*/
}

.f1 {
  display: inline-block;
  align-content: center;
}

.f2 {
  font-size: 2.5em;
  color: white;
  text-align: center;
}

.f3 {
  color: white;
  font-size: 1.7em;
  text-align: right;
}

iframe {
  align-self: stretch;
  height: 125px;
  max-width: 100%;
}

.fa {
    padding: 15px;
    font-size: 30px !important;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    margin: 9px 5px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}



@media only screen and (min-width: 700px){
body {
  display: grid;
  grid-template-columns: 15fr 1fr;
  grid-template-rows: 125px 6fr 125px;
  grid-template-areas:
  "header header"
  "section nav"
  "footer footer"
}
}
/*adjust for different screen sizes*/
